.style-footer {
  padding: 40px 0;
  background: #272727;
  color: #eee;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

.title-strong {
  border-bottom: 2px solid #ace47e;
  display: inline-block;
}

li a, li a .links-footer {
  text-decoration: none;
}

li a .links-footer {
  color: #eee;
}